<!-- <div class="toast-container">
  <div
    class="toast"
    *ngFor="let toast of toasts"
    [ngClass]="toast.type"
    [@toastAnim]>

    <span class="toast-icon">
      {{ toast.type === 'success' ? '✓' : toast.type === 'error' ? '✕' : 'ℹ' }}
    </span>

    <div class="toast-content">
      <span class="toast-msg">{{ toast.message }}</span>
    </div>

    <button class="toast-close" (click)="remove(toast.id)">×</button>

  </div>
</div> -->
<!-- <div class="toast-container">
  <div
    class="toast"
    *ngFor="let toast of toasts"
    [ngClass]="toast.type"
    [@toastAnim]>
    <span class="toast-icon">{{ toast.type === 'success' ? '✓' : '✕' }}</span>
    <div class="toast-content">
      <span class="toast-msg">{{ toast.message }}</span>
    </div>
    <button class="toast-close" (click)="remove(toast.id)">×</button>
  </div>
</div> -->