USE [master]
GO
/****** Object:  Database [VoyaraDb]    Script Date: 02-06-2026 09:01:24 PM ******/
CREATE DATABASE [VoyaraDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VoyaraDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VoyaraDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VoyaraDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VoyaraDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VoyaraDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VoyaraDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addons]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addons](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Addons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[BookingRef] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[TaxAmount] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[CouponCode] [nvarchar](20) NULL,
	[DepartDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NOT NULL,
	[FlightClass] [nvarchar](20) NOT NULL,
	[RoomType] [nvarchar](20) NOT NULL,
	[SpecialRequests] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[DiscountPct] [int] NOT NULL,
	[MaxUses] [int] NOT NULL,
	[UsedCount] [int] NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[StartingPrice] [decimal](12, 2) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Destinations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[OldPrice] [decimal](12, 2) NOT NULL,
	[Nights] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Badge] [nvarchar](50) NOT NULL,
	[BadgeClass] [nvarchar](50) NOT NULL,
	[Rating] [float] NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Tags] [nvarchar](max) NOT NULL,
	[Inclusions] [nvarchar](max) NOT NULL,
	[DestinationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[RazorpayOrderId] [nvarchar](100) NOT NULL,
	[RazorpayPaymentId] [nvarchar](100) NULL,
	[RazorpaySignature] [nvarchar](200) NULL,
	[Method] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Currency] [nvarchar](5) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Travelers]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Travelers](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Count] [int] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Travelers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Nationality] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](20) NULL,
	[RefreshToken] [nvarchar](500) NULL,
	[RefreshTokenExpiry] [datetime2](7) NULL,
	[Dob] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 02-06-2026 09:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260320113849_InitialCreate', N'8.0.0')
GO
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountPct], [MaxUses], [UsedCount], [ExpiresAt], [IsActive], [CreatedAt]) VALUES (N'423518e8-1802-4ab8-bace-422c73ea005a', N'FIRST15', 15, 200, 0, CAST(N'2027-03-20T11:40:36.9604174' AS DateTime2), 1, CAST(N'2026-03-20T11:40:36.9604173' AS DateTime2))
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountPct], [MaxUses], [UsedCount], [ExpiresAt], [IsActive], [CreatedAt]) VALUES (N'1849767a-df81-4206-93e2-a110b8b7ef77', N'VOYARA10', 10, 1000, 0, CAST(N'2027-03-20T11:40:36.9602324' AS DateTime2), 1, CAST(N'2026-03-20T11:40:36.9599765' AS DateTime2))
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountPct], [MaxUses], [UsedCount], [ExpiresAt], [IsActive], [CreatedAt]) VALUES (N'701f3351-a383-4b12-89b1-bc4051ec5430', N'SUMMER20', 20, 500, 0, CAST(N'2026-09-20T11:40:36.9603848' AS DateTime2), 1, CAST(N'2026-03-20T11:40:36.9603845' AS DateTime2))
GO
INSERT [dbo].[Destinations] ([Id], [Name], [Country], [Image], [StartingPrice], [Description], [IsActive], [CreatedAt]) VALUES (N'11111111-0000-0000-0000-000000000001', N'Bali', N'Indonesia 🇮🇩', N'https://images.unsplash.com/photo-1537996194471-e657df975ab4?w=800&q=80', CAST(45000.00 AS Decimal(12, 2)), N'Island of the Gods with stunning temples and beaches', 1, CAST(N'2026-03-20T11:40:36.6000896' AS DateTime2))
INSERT [dbo].[Destinations] ([Id], [Name], [Country], [Image], [StartingPrice], [Description], [IsActive], [CreatedAt]) VALUES (N'11111111-0000-0000-0000-000000000002', N'Paris', N'France 🇫🇷', N'https://images.unsplash.com/photo-1502602898657-3e91760cbb34?w=800&q=80', CAST(85000.00 AS Decimal(12, 2)), N'City of Love, Art and Cuisine', 1, CAST(N'2026-03-20T11:40:36.6006369' AS DateTime2))
INSERT [dbo].[Destinations] ([Id], [Name], [Country], [Image], [StartingPrice], [Description], [IsActive], [CreatedAt]) VALUES (N'11111111-0000-0000-0000-000000000003', N'Tokyo', N'Japan 🇯🇵', N'https://images.unsplash.com/photo-1540959733332-eab4deabeeaf?w=800&q=80', CAST(75000.00 AS Decimal(12, 2)), N'Where ancient tradition meets ultra-modern life', 1, CAST(N'2026-03-20T11:40:36.6006395' AS DateTime2))
GO
INSERT [dbo].[Payments] ([Id], [RazorpayOrderId], [RazorpayPaymentId], [RazorpaySignature], [Method], [Status], [Amount], [Currency], [CreatedAt], [PaidAt], [BookingId]) VALUES (N'9da21b6d-addc-40c5-9fcd-f8c0dee9e481', N'order_dummy_8cd39c600c864624af369d5d0f9c69a4', N'pay_dummy_1774263902142', N'dummy_signature', N'card', N'Success', CAST(304500.00 AS Decimal(12, 2)), N'INR', CAST(N'2026-03-23T11:05:00.5908408' AS DateTime2), CAST(N'2026-03-23T11:05:02.1875372' AS DateTime2), N'8c8f8a8d-4192-4ffa-89b1-0131ad6c00a8')
GO
INSERT [dbo].[Travelers] ([Id], [Type], [Count], [BookingId]) VALUES (N'0dffd8e6-7885-4c7a-8676-0799ddecdf3a', N'adults', 2, N'8c8f8a8d-4192-4ffa-89b1-0131ad6c00a8')
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [PasswordHash], [Role], [Nationality], [Passport], [RefreshToken], [RefreshTokenExpiry], [Dob], [CreatedAt], [UpdatedAt]) VALUES (N'363459f5-2638-4b65-8b07-6e592c8c6778', N'Chinu Rawat', N'chinurawat12@gmail.com', N'8218974261', N'$2a$11$71lCmGAyZoMmdLx5PZGgd.QmqvFlm1zORlKjv7Nzv3mLI9nq0QfNi', N'User', N'Indian', NULL, NULL, NULL, NULL, CAST(N'2026-06-02T14:25:04.5998648' AS DateTime2), CAST(N'2026-06-02T14:25:56.8949504' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [PasswordHash], [Role], [Nationality], [Passport], [RefreshToken], [RefreshTokenExpiry], [Dob], [CreatedAt], [UpdatedAt]) VALUES (N'2634ade7-7817-4d55-97a8-d10793c5c966', N'Voyara Admin', N'admin@voyara.com', N'+91 98765 00000', N'$2a$11$1lRmQJAwKrW6zQUATJ7xH.QPS36V0SxVIZHRmrd2FtHnq5MDf8WmK', N'Admin', N'Indian', NULL, NULL, NULL, NULL, CAST(N'2026-03-20T11:40:37.3701907' AS DateTime2), CAST(N'2026-03-20T11:40:37.3702553' AS DateTime2))
GO
/****** Object:  Index [IX_Addons_BookingId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Addons_BookingId] ON [dbo].[Addons]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_BookingRef]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Bookings_BookingRef] ON [dbo].[Bookings]
(
	[BookingRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_PackageId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_PackageId] ON [dbo].[Bookings]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserId] ON [dbo].[Bookings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coupons_Code]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Coupons_Code] ON [dbo].[Coupons]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packages_DestinationId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Packages_DestinationId] ON [dbo].[Packages]
(
	[DestinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_BookingId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_BookingId] ON [dbo].[Payments]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_PackageId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_PackageId] ON [dbo].[Reviews]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId_PackageId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reviews_UserId_PackageId] ON [dbo].[Reviews]
(
	[UserId] ASC,
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Travelers_BookingId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Travelers_BookingId] ON [dbo].[Travelers]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_PackageId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Wishlists_PackageId] ON [dbo].[Wishlists]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Wishlists_UserId_PackageId]    Script Date: 02-06-2026 09:01:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Wishlists_UserId_PackageId] ON [dbo].[Wishlists]
(
	[UserId] ASC,
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'economy') FOR [FlightClass]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (N'std') FOR [RoomType]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Destinations] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (N'per person') FOR [Unit]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'INR') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Wishlists] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Addons]  WITH CHECK ADD  CONSTRAINT [FK_Addons_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addons] CHECK CONSTRAINT [FK_Addons_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Packages_PackageId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_UserId]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Packages_Destinations_DestinationId] FOREIGN KEY([DestinationId])
REFERENCES [dbo].[Destinations] ([Id])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Packages_Destinations_DestinationId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Packages_PackageId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Travelers]  WITH CHECK ADD  CONSTRAINT [FK_Travelers_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Travelers] CHECK CONSTRAINT [FK_Travelers_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Packages_PackageId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users_UserId]
GO
USE [master]
GO
